Django<=4.1.7
psycopg2>=2.7,<3.0
gunicorn==22.0.0
apprise
geopy
djangorestframework
django-mailer
pillow
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
ruff
