{% extends "beedb/email/email-html-base.html" %}

{% block title %}
Weekly summary
{% endblock %}

{% block email-body %}
  <p>Hi {{ beek.first_name|capfirst }}</p>

<div id="apiaries" class="container-fluid">  
  {% if apList %}
    <table>
      {% for apiary in apList %}
        <tr>
          <th><h2>Apiary: {{ apiary.element.apiaryID }}</h2></th>
        </tr>
        {% for colony in apiary.colonies %}
          <tr>
            <td><b>Colony:</b>{{colony.element.colonyID}} - {{colony.element.descr}}</td>
          </tr>
          {% if colony.lstInspection %}
            <tr>
              <td class="indent">Last inspection: {{ colony.lstInspection.dt|date:"D d M Y" }}</td>
            </tr>
          {% else %}
            <tr>
              <td class="indent">This colony has no inspection records</td>
            </tr>
          {% endif %}
          <tr><td> </td></tr>
        {% endfor %}
      {% endfor %}
    </table>
  {% else %}
    <h3>You have no apriaries registered</h3>
  {% endif %}
</div>

{% endblock %}