/** {
  box-sizing: border-box;
}
*/
  body {
      font-family:Verdana, Geneva, Arial, sans-serif;
    }
  
  .bd_bee_background {
      background-color: lightyellow;
  }

  .bd_content_block {
    border-style: groove;
    border: 5px;
    border-radius: 15px;
    padding: 10px;
    color: black;
    background-color: blanchedalmond;
    margin: 10px 0px 10px 0px; 
  }

  .bd_action_button{
    float: right;
  }

  a.bd_menu:link {
    color: maroon;
  }  

  .bd_table {
    border-collapse: collapse;
    width: 100%;
  }

  .inset {
    padding-left: 15px;
  }

  .italics {
    font-style: italic;
  }

   .wrap_cell {
    width: 50%;
  }
  
  .bd_heading_text {
    font-size: 2vw;
    font-weight: bold;
  }
  
  #logged_in {
    float: right;
  }
  
  .card-header {
      font-weight: bold;
      color: black;
      font-size: 1.2em;
  }
  
  .bg-secondary {
    background-color: orange;
  }
  
  /* -------------------------------------
      HEADER, FOOTER, MAIN
  ------------------------------------- */
/*  
  .bd_content-block {
    padding-bottom: 10px;
    padding-top: 10px;
  }
 */ 
  .bd_footer {
    clear: both;
    Margin-top: 10px;
    text-align: center;
    width: 100%; 
  }
  
  .bd_footer td,
    .footer p,
    .footer span,
    .footer a {
      /*color: #999999;*/
      font-size: 12px;
      text-align: center; 
  }
  
  .bd_author a {
      color: inherit !important;
      font-family: inherit !important;
      font-size: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
      text-decoration: none !important; 
    }
  