{% extends "beedb/webbase.html" %}

{% block leaflet %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
{% endblock %}

{% block title %}
Apiary Details
{% endblock %}

{% block web-body %}

<div id="ap-header"><H2>Apiary information</H2>
</div>
<div id="ap_detail" class="bd_content_block">
  <div id="ap_det_table">
    <table>
      {% if usrInfo.isOwner %}
      <div class="dropdown text-right">
        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
          Actions
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'beedb:apMod' ap.id %}">Update apiary details</a>
          <a class="dropdown-item" href="{% url 'beedb:colAdd' ap.id  0 %}">Add colony</a>
          <a class="dropdown-item" href="{% url 'beedb:apPhotoAdd' ap.id %}">Add photo</a>
        </div>
      </div> 
      {% else %}
        <tr><th>Beekeeper: </th><th>{{ usrInfo.procBeek.username }}</th></tr>
      {% endif %}
      <tr><th>Apiary Name: </th><th>{{ ap.apiaryID }}</th></tr>
      <tr><td>Description: </td><td class = "wrap_cell">{{ ap.descr }}</td></tr>
    </table>
  </div>
</div>

<div id="ap_colonies" class="bd_content_block">
  <H4>Colonies</H4>   
    <table class="table">
      {% for colony in liveCol %}
        <tr>
          <td> <a class="text-warning" href="{% url 'beedb:colDetail' colony.colony.id %}{{usrInfo.getParams}}">{{colony.colony.colonyID}}</a> </td>
          <td>{{colony.colony.descr}}</td>
          {% if colony.badges %}
            {% for badge in colony.badges %}
              <td><span class = "badge badge-warning">{{badge}}</span></td>
            {% endfor %}
          {% endif %}
        </tr>
      {% endfor %}
    </table>      
</div>

{% if ap.picture_set.all %}
  <div>
    {% for picture in ap.picture_set.all %}
      <div class="responsive">
        <div class="gallery">
          {% if picture.width_field < 600 %}
            <img src="{{ picture.img.url}}" alt="{{ picture.title }}" width="{{picture.width_field}}" height="auto">
          {% else %}
            <img src="{{ picture.img.url}}" alt="{{ picture.title }}" width="600" height="auto">
          {% endif %}
          <div class="desc">{{picture.title}}</div>
        </div>
      </div>
    {% endfor %}
    <div class="clearfix"></div>
  </div>
{% endif %}

{% if deadCol %}
<div id="ap_colonies" class="bd_content_block">
  <H5>Dead or absconded colonies in last 2 years</H5>
    <table class="table">
      {% for colony in deadCol %}
        <tr>
          <td> <a class="text-warning" href="{% url 'beedb:colDetail' colony.id %}{{usrInfo.getParams}}">{{colony.colonyID}}</a> </td>
          {% if colony.status == "D" %}
            <td>Dead</td>
          {% elif  colony.status == "A" %}
            <td>Absconded</td>
          {% else %}
            <td>Unknown</td>
          {% endif %}
          <td>{{colony.descr}}<br>{{ colony.notes }}</td>
        </tr>

      {% endfor %}
    </table>
  </div>
{% endif %}


<div id="map"></div>
<a href="{% url 'beedb:index' %}{{usrInfo.getParams}}" class="btn btn-warning" role="button">Return to Apiaries</a>


{% if ap.latitude and ap.longitude %}
<script>
  console.log("MAP on load");
  var map = L.map('map').setView([ {{ ap.latitude }}, {{ ap.longitude }} ], 16);
  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox/satellite-v9',
      tileSize: 512,
      zoomOffset: -1,
      accessToken: 'pk.eyJ1IjoiamltYm9lcmkiLCJhIjoiY2wxeWNwcDgyMGJkdTNscXJqNGg0aG5pZSJ9.6SfYYNY5tPWRyJjBWGdbvw'
    }).addTo(map);
    var marker = L.marker([{{ ap.latitude }}, {{ ap.longitude }}])
      .addTo(map);
</script>
{% endif %}

{% endblock %}
