{% extends "beedb/webbase.html" %}

{% block title %}
Apiary Details
{% endblock %}

{% block web-body %}
<div class="bee_background">

  <div id="ap-header"><H2>Apiary information</H2>
    <div id="ap_detail" class="bd_content_block">
      <div id="ap_det_table">
        <table>
          <div class="dropdown text-right">
            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
              Actions
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'beedb:apMod' ap.id %}">Update apiary details</a>
              <a class="dropdown-item" href="{% url 'beedb:colAdd' ap.id  0 %}">Add colony</a>
            </div>
          </div> 
          <tr><th>Apiary Name: </th><th>{{ ap.apiaryID }}</th></tr>
          <tr><td>Description: </td><td class = "wrap_cell">{{ ap.descr }}</td></tr>
        </table>
      </div>
    </div>
    <div id="ap_colonies" class="bd_content_block">
      <H4>Colonies</H4>   
        <table class="table">
          {% for colony in ap.colony_set.all %}
            {% if colony.status == "C" %}
            <tr>
              <td> <a class="text-warning" href="{% url 'beedb:colDetail' colony.id %}">{{colony.colonyID}}</a> </td>
              <td>{{colony.descr}}</td>
            </tr>
            {% endif %}
          {% endfor %}
        </table>      
    </div>
  </div>

  <a href="{% url 'beedb:index' %}" class="btn btn-warning" role="button">Apiaries</a>

  {% if deadCol %}
    <H5>Dead or absconded colonies in last 2 years</H5>
    <table class="table">
      {% for colony in deadCol %}
        <tr>
          <td> <a class="text-warning" href="{% url 'beedb:colDetail' colony.id %}">{{colony.colonyID}}</a> </td>
          {% if colony.status == "D" %}
            <td>Dead</td>
          {% elif  colony.status == "A" %}
            <td>Absconded</td>
          {% else %}
            <td>Unknown</td>
          {% endif %}
          <td>{{colony.descr}}<br>{{ colony.notes }}</td>
        </tr>

      {% endfor %}
    </table>
  {% endif %}
  
</div>
{% endblock %}
