{% extends "beedb/webbase.html" %}

{% block title %}
Apiary Details
{% endblock %}

{% block web-body %}
<div class="bee_background">

  <div id="ap-header"><H2>Apiary information</H2></div>
    <div id="ap_detail" class="content_block">
      <div id="ap_det_table">
        <table>
          <tr><th>Apiary Name: </th><th>{{ ap.apiaryID }}</th></tr>
          <tr><td>Description: </td><td class = "wrap_cell">{{ ap.descr }}</td></tr>
        </table>
      </div>
      {% comment %}
      <div id="ap_det_button" class="action_button">
        <a href="{% url 'beedb:apUpdate' ap.id %}" class="btn btn-info" role="button">Update details</a>
      </div>
      {% endcomment %}
    </div>
  </div>

  <a href="{% url 'beedb:index' %}" class="btn btn-info" role="button">Home</a>
</div>
{% endblock %}