{% extends "beedb/webbase.html" %}

{% block title %}
Colony Update
{% endblock %}

{% block web-body %}
<div class="beedb_background">
  <div id="ap-header"><h3>Add a photo</h3></div>
    <div id="ap_detail" class="bd_content_block">
      <div id="ap-transfer_table">
        <form action="{% url 'beedb:apPhotoAdd' apiary.id %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.non_field_errors}}
          <table>
            <tr><th>Apiary : </th><th>{{ apiary.apiaryID }}</th></tr>
            {{ form.as_table }}
          </table>
        <input type="submit" value="Submit">
        <span id="ap_cancel_button" class="cancel_button">
          <a href="{% url 'beedb:apDetail' apiary.id %}" class="btn btn-link btn-outline-warning" role="button">Cancel</a>
        </span>
      </form>
    </div>
  </div>
 
</div>
{% endblock %}