{% extends "beedb/webbase.html" %}

{% block title %}
Colony Add
{% endblock %}

{% block web-body %}
<div class="beedb_background">
  <div id="col-header"><h3>New Colony Information</h3></div>
    <div id="ap_detail" class="content_block">
      <div id="ap_det_table">
        <table>
          <tr><th>Apiary Name: </th><th>{{ ap.apiaryID }}</th></tr>
          <tr><td>Description: </td><td class = "wrap_cell">{{ ap.descr }}</td></tr>
        </table>
      </div>
      <div>
        <span id="add_type_1" class="">
          {% if col_add_type == 0 or col_add_type == 1 %}
            <a href="{% url 'beedb:colAdd' ap.id 1 %}" class="btn btn btn-success" role="button">Swarm</a>
          {% else %}
            <a href="{% url 'beedb:colAdd' ap.id 1 %}" class="btn btn btn-light" role="button">Swarm</a>
          {% endif %}
        </span>
        <span id="add_type_2" class="">
          {% if col_add_type == 0 or col_add_type == 2 %}
            <a href="{% url 'beedb:colAdd' ap.id 2 %}" class="btn btn btn-success" role="button">Purchase/gift</a>
          {% else %}
            <a href="{% url 'beedb:colAdd' ap.id 2 %}" class="btn btn btn-light" role="button">Purchase/gift</a>
          {% endif %}
        </span>
        <span id="add_type_3" class="">
          {% if col_add_type == 0 or col_add_type == 3 %}
            <a href="{% url 'beedb:colAdd' ap.id 3 %}" class="btn btn btn-success" role="button">Initial setup</a>
          {% else %}
            <a href="{% url 'beedb:colAdd' ap.id 3 %}" class="btn btn btn-light" role="button">Initial setup</a>
          {% endif %}
        </span>        
      </div>
      <p> </p>
      {% if col_add_type == 1 or col_add_type == 2 or col_add_type == 3 %}
        <div id="ap_det_table">
          <form action="{% url 'beedb:colAdd' ap.id col_add_type %}" method="POST">
            {% csrf_token %}
            {{ fItems.management_form }}
            {{ form.non_field_errors}}
            <table>
              {{ form.as_table }}
            </table>
            <input type="submit" value="Submit">
            <span id="ap_cancel_button" class="cancel_button">
              <a href="{% url 'beedb:apDetail' ap.id %}" class="btn btn-link btn-outline-warning" role="button">Cancel</a>
            </span>
          </form>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}