{% extends "beedb/webbase.html" %}

{% block title %}
Colony Details
{% endblock %}

{% block web-body %}
<div class="bee_background">

  <div id="col-header"><H2>Colony information</H2>
    <div id="col_detail" class="content_block">
      <div id="col_det_table">
        <table>
          <div class="dropdown text-right">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              Actions
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'beedb:inspectAdd' col.id %}">Inspect</a>
              <a class="dropdown-item" href="{% url 'beedb:colMod' col.id %}">Update colony</a>
              <a class="dropdown-item" href="{% url 'beedb:colMoveChoose' col.id %}">Move colony</a>
              <a class="dropdown-item" href="{% url 'beedb:colTransfer' col.id %}">Sell/give colony</a>
            </div>
          </div> 
          <tr><th>Apiary : </th><th><a href="{% url 'beedb:apDetail' col.apiary.id %}" class="text-info">{{ col.apiary.apiaryID }}</a></th></tr>
          <tr><th>Colony Name : </th><th>{{ col.colonyID }}</th></tr>
          <tr><td>Status : </td><td class = "wrap_cell">{{ col.get_status_display }}</td></tr>
          <tr><td>Description : </td><td class = "wrap_cell">{{ col.descr }}</td></tr>
        </table>
      </div>
    </div>
    <div id="col_inspections" class="content_block">
    <H3>Inspections</H3>
      <table>
        {% for ins in col.inspection_set.all %}
          <tr>
            <td><a href="{% url 'beedb:inspectDetail' ins.id %}" class="text-warning">{{ins.dt|date:"D d/m/Y"}}</a></td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <a href="{% url 'beedb:apDetail' col.apiary.id %}" class="btn btn-info" role="button">Apiary</a>
</div>
{% endblock %}