{% extends "beedb/webbase.html" %}

{% block title %}
Colony Details
{% endblock %}

{% block web-body %}
<div class="bee_background">

  <div id="col-header">
    <H2>Colony information</H2>
    <div id="col_detail" class="bd_content_block">
      <div id="col_det_table">
        <table>
          <div class="text-right">
            {% if usrInfo.isOwner %}
              <div class="btn-group">
                <a class="btn btn-info" href="{% url 'beedb:inspectAdd' col.id %}">Inspect</a>
                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                  Other actions
                </button>
                {% if col.status == "C" %}
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'beedb:colDiaryAdd' col.id %}">Add reminder</a>
                  <a class="dropdown-item" href="{% url 'beedb:colMod' col.id %}">Edit colony details</a>
                  <a class="dropdown-item" href="{% url 'beedb:colMoveChoose' col.id %}">Move colony</a>
                  <a class="dropdown-item" href="{% url 'beedb:colSplit' col.id %}">Split colony</a>
                  <a class="dropdown-item" href="{% url 'beedb:colCombine' col.id %}">Combine colonies</a>
                  <a class="dropdown-item" href="{% url 'beedb:colTransfer' col.id %}">Sell/give colony</a>
                  <a class="dropdown-item" href="{% url 'beedb:colDead' col.id %}">Colony Dead</a>
                </div>
                {% else %}
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'beedb:colMod' col.id %}">Update colony</a>
                </div>
                {% endif %}
              </div>
            {% else %}
            <tr><th>Beekeeper: </th><th>{{ usrInfo.procBeek.username }}</th></tr>
            {% endif %}
          </div>

          <tr class="d-flex">
            <th class="col">Apiary : </th>
            <th class="col"><a class="text-warning" href="{% url 'beedb:apDetail' col.apiary.id %}{{usrInfo.getParams}}" class="text-info">{{ col.apiary.apiaryID }}</a></th>
          </tr>
          <tr class="d-flex">
            <th class="col">Colony Name : </th>
            <th class="col">{{ col.colonyID }}</th>
          </tr>
          <tr class="d-flex">
            <td class="col">Description : </td>
            <td class="col wrap_cell">{{ col.descr }}</td>
          </tr>
          {% if lst_inspect %}
            <tr class="d-flex">
              <td class="col">Last inspection comment : </td>
              <td class="col wrap_cell">{{ lst_inspect.notes }}</td>
            </tr>
          {% endif %}
        </table>
      </div>
    </div>
    {% if diary %}
      <div id="col_diary" class="bd_content_block">
        <H3>Reminders</H3>
        <table class="table table-borderless">
          {% for d in diary %}
            <tr class="d-flex">
              <td><a href="{% url 'beedb:diaryDetail' d.id %}{{usrInfo.getParams}}" class="text-warning">{{d.dueDt|date:"D d/m/Y"}}</a></td>
              <td>{{ d.subject }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    {% endif %}

    <div id="col_inspections" class="bd_content_block">
      <H3>Inspections</H3>
      <table class="table table-borderless">
        {% for ins in col.inspection_set.all %}
          <tr class="d-flex">
            <td><a href="{% url 'beedb:inspectDetail' ins.id %}{{usrInfo.getParams}}" class="text-warning">{{ins.dt|date:"D d/m/Y"}}</a></td>
            <td>{{ ins.notes }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>

</div>
{% endblock %}