{% extends "beedb/webbase.html" %}

{% block title %}
Colony Details
{% endblock %}

{% block web-body %}
<div class="bee_background">

  <div id="col-header">
    <H2>Colony information</H2>
    <div id="col_detail" class="bd_content_block">
      <div id="col_det_table">
        <table>
          <div class="text-right">
            {% if usrInfo.isOwner %}
              <div class="btn-group">
                <a class="btn btn-info" href="{% url 'beedb:inspectAdd' col.id %}">Inspect</a>
                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                  Other actions
                </button>
                {% if col.status == "C" %}
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'beedb:colDiaryAdd' col.id %}">Add reminder</a>
                    <a class="dropdown-item" href="{% url 'beedb:treatmentAdd' col.id %}">Add treatment</a>
                    <a class="dropdown-item" href="{% url 'beedb:colMod' col.id %}">Edit colony details</a>
                    <a class="dropdown-item" href="{% url 'beedb:colPhotoAdd' col.id %}">Add photo</a>
                    <a class="dropdown-item" href="{% url 'beedb:colMoveChoose' col.id %}">Move colony</a>
                    <a class="dropdown-item" href="{% url 'beedb:colSplit' col.id %}">Split colony</a>
                    <a class="dropdown-item" href="{% url 'beedb:colCombine' col.id %}">Combine colonies</a>
                    <a class="dropdown-item" href="{% url 'beedb:colTransfer' col.id %}">Sell/give colony</a>
                    <a class="dropdown-item" href="{% url 'beedb:colReport' col.id 2 %}">6 month report</a>
                    <a class="dropdown-item" href="{% url 'beedb:colDead' col.id %}">Colony Dead</a>
                  </div>
                {% else %}
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'beedb:colMod' col.id %}">Update colony</a>
                    <a class="dropdown-item" href="{% url 'beedb:colReport' col.id 2 %}">6 month report</a>
                  </div>
                {% endif %}
              </div>
            {% else %}
              <tr><th>Beekeeper: </th><th>{{ usrInfo.procBeek.username }}</th></tr>
              <div class="btn-group">
                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                  Other actions
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'beedb:colReport' col.id 2 %}{{usrInfo.getParams}}">6 month report</a>
                </div>
              </div>
            {% endif %}
          </div>

          <tr class="d-flex">
            <th class="col">Apiary : </th>
            <th class="col"><a class="text-warning" href="{% url 'beedb:apDetail' col.apiary.id %}{{usrInfo.getParams}}" class="text-info">{{ col.apiary.apiaryID }}</a></th>
          </tr>
          <tr class="d-flex">
            <th class="col">Colony Name : </th>
            <th class="col">{{ col.colonyID }}</th>
          </tr>
          <tr class="d-flex">
            <td class="col">Description : </td>
            <td class="col wrap_cell">{{ col.descr }}</td>
          </tr>
          {% if lst_inspect %}
            <tr class="d-flex">
              <td class="col">Last inspection comment : </td>
              <td class="col wrap_cell">{{ lst_inspect.notes }}</td>
            </tr>
          {% endif %}
        </table>
      </div>
    </div>
    {% if diary or treatments %}
      <div id="col_diary" class="bd_content_block">
        {% if diary %}
          <H3>Reminders</H3>
          <table class="table table-borderless">
            {% for d in diary %}
              <tr class="d-flex">
                <td><a href="{% url 'beedb:diaryDetail' d.id %}{{usrInfo.getParams}}" class="text-warning">{{d.dueDt|date:"D d/m/Y"}}</a></td>
                <td>{{ d.subject }}</td>
                {% if d.dueDt < today %}
                  <td><span class = "badge badge-warning">Overdue</span></td>
                {% endif %}
              </tr>
            {% endfor %}
          </table>
        {% endif %}
        {% if treatments %}
          <H3>Treatments still in the colony</H3>
          <table class="table table-borderless">
            {% for t in treatments %}
              <tr class="d-flex">
                <td><a href="{% url 'beedb:treatDetail' t.id %}{{usrInfo.getParams}}" class="text-warning">{{t.treatmentType.name}}</a></td>
                <td>Remove on: {{ t.removeDt|date:"D d/m/Y" }}</td>
                {% if t.removeDt < today %}
                  <td><span class = "badge badge-warning">Overdue for removal</span></td>
                {% endif %}
              </tr>
            {% endfor %}
          </table>
        {% endif %}
      </div>
    {% endif %}

    <div id="col_inspections" class="bd_content_block">
      <H3>Inspections in the last year</H3>
      <table class="table table-borderless">
        {% for ins in pastInspections %}
          <tr class="d-flex">
            <td><a href="{% url 'beedb:inspectDetail' ins.id %}{{usrInfo.getParams}}" class="text-warning">{{ins.dt|date:"D d/m/Y"}}</a></td>
            <td>{{ ins.notes }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>

    {% if pastTreatments %}
    <div id="col_treatments" class="bd_content_block">
      <H3>Treatments in the last year</H3>
      <table class="table table-borderless">
        {% for tr in pastTreatments %}
          <tr class="d-flex">
            <td><a href="{% url 'beedb:treatDetail' tr.id %}{{usrInfo.getParams}}" class="text-warning">{{tr.insertDt|date:"D d/m/Y"}}</a></td>
            <td>{{ tr.treatmentType.name }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
    {% endif %}

    {% if col.picture_set.all %}
    <div>
      {% for picture in col.picture_set.all %}
        <div class="responsive">
          <div class="gallery">
            {% if picture.width_field < 600 %}
              <img src="{{ picture.img.url}}" alt="{{ picture.title }}" width="{{picture.width_field}}" height="auto">
            {% else %}
              <img src="{{ picture.img.url}}" alt="{{ picture.title }}" width="600" height="auto">
            {% endif %}
            <div class="desc">{{picture.title}}</div>
          </div>
        </div>
      {% endfor %}
      <div class="clearfix"></div>
    </div>
  {% endif %}


  </div>

</div>
{% endblock %}