{% extends "beedb/webbase.html" %}

{% block title %}
Colony Move
{% endblock %}

{% block web-body %}
<div class="bee_background">

  <div id="col-header"><H2>Colony move</H2>
    <div id="col_detail" class="content_block">
      <div id="col_det_table">
        <table>
          <tr><th>Apiary : </th><th>{{ col.apiary.apiaryID }}</th></tr>
          <tr><th>Colony Name : </th><th>{{ col.colonyID }}</th></tr>
          <tr><td>Status : </td><td class = "wrap_cell">{{ col.get_status_display }}</td></tr>
          <tr><td>Description : </td><td class = "wrap_cell">{{ col.descr }}</td></tr>
        </table>
        Select apiary to move colony to:
        <table>{% for ap in apList%}
          <p><a href="{% url 'beedb:colMoveSelect' col.id ap.id %}" class="btn btn-warning" role="button">
            {{ ap.apiaryID }}
          </a>
          </p>
        {% endfor %}
      </div>
    </div>
  </div>

  <a href="{% url 'beedb:colDetail' col.id %}" class="btn btn-info" role="button">Back</a>
</div>
{% endblock %}