{% extends "beedb/webbase.html" %}

{% block title %}
Colony Sell / transfer / gift
{% endblock %}

{% block web-body %}
<div class="bee_background">

  <div id="col-header"><H2>Colony Sell / transfer / gift</H2>
    <div id="col_detail" class="content_block">
      <div id="col_det_table">
        <table>
          <tr><th>Apiary : </th><th>{{ col.apiary.apiaryID }}</th></tr>
          <tr><th>Colony Name : </th><th>{{ col.colonyID }}</th></tr>
          <tr><td>Status : </td><td class = "wrap_cell">{{ col.get_status_display }}</td></tr>
          <tr><td>Description : </td><td class = "wrap_cell">{{ col.descr }}</td></tr>
        </table>
        Transfer details:
        <form action="{% url 'beedb:colTransfer' col.id %}" method="POST">
          {% csrf_token %}
          {{ fItems.management_form }}
          {{ form.non_field_errors}}
          <table>
            <tr><th>Colony : </th><th>{{ col.colonyID }}</th></tr>
            {{ form.as_table }}
          </table>
        <input type="submit" value="Submit">
        <span id="col_cancel_button" class="cancel_button">
          <a href="{% url 'beedb:colDetail' col.id %}" class="btn btn-link btn-outline-warning" role="button">Cancel</a>
        </span>
      </form>
      </div>
    </div>
  </div>

  <a href="{% url 'beedb:colDetail' col.id %}" class="btn btn-info" role="button">Back</a>
</div>
{% endblock %}