{% extends "beedb/webbase.html" %}

{% block pagerefresh %}<meta http-equiv="refresh" content="300">{% endblock %}

{% block leaflet %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
{% endblock %}

{% block title %}
Apiary list
{% endblock %}

{% block web-body %}
<div class="bd_bee_background">
  <div id="apiaries">
    {% if apList %}
      <div class="list-group">
      {% for ap in apList %}
        <a href="{% url 'beedb:apDetail' ap.id %}" class="list-group-item list-group-item-action list-group-item-warning">{{ap.apiaryID}}</a>
      {% endfor %}
      </div>
    {% else %}
      <p>No apiaries</p>
    {% endif %}
  </div>
  <div id="msg_add_button" class="bd_action_button">
    <a href="{% url 'beedb:apAdd' %}" class="btn btn-warning" role="button">Add Apiary</a>
  </div>
  <div id="map"></div>
</div>

{% if  mapCoord.centreLat and mapCoord.centreLong %}
  <script>
    console.log("MAP on load");
    var map = L.map('map').setView([ {{ mapCoord.centreLat }}, {{ mapCoord.centreLong }} ], {{ mapCoord.zoom }});
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 19,
        id: 'mapbox/satellite-v9',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoiamltYm9lcmkiLCJhIjoiY2wxeWNwcDgyMGJkdTNscXJqNGg0aG5pZSJ9.6SfYYNY5tPWRyJjBWGdbvw'
      }).addTo(map);
      var markers = new Object();
      {% for ap in apList %}
        markers["{{ap.id}}"] = L.marker([ {{ ap.latitude }}, {{ ap.longitude }} ])
          .bindTooltip("{{ ap.apiaryID }}", {permanent: true})
          .addTo(map);
      {% endfor %}
  </script>
{% endif %}


{% endblock %}
