{% extends "beedb/webbase.html" %}

{% block pagerefresh %}<meta http-equiv="refresh" content="300">{% endblock %}

{% block title %}
Apiary list
{% endblock %}

{% block web-body %}
<div class="bd_bee_background">
  <div id="apiaries">
    {% if apList %}
      <div class="list-group">
      {% for ap in apList%}
        <a href="{% url 'beedb:apDetail' ap.id %}" class="list-group-item list-group-item-action list-group-item-warning">{{ap.apiaryID}}</a>
      {% endfor %}
      </div>
    {% else %}
      <p>No apiaries</p>
    {% endif %}
  </div>
  <div id="msg_add_button" class="bd_action_button">
    <a href="{% url 'beedb:apAdd' %}" class="btn btn-warning" role="button">Add Apiary</a>
  </div>
</div>
{% endblock %}
