{% extends "beedb/webbase.html" %}

{% block title %}
Inspection Details
{% endblock %}

{% block web-body %}
<div class="bee_background">

  <div id="ins-header"><H2>Inspection details</H2>
    <div id="col_detail" class="content_block">
      <div id="ins_det_table">
        <table>
          {% if usrInfo.isOwner %}
            <div class="dropdown text-right">
              <a class="btn btn-info" href="{% url 'beedb:inspectMod' ins.id %}">Edit</a>
              <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                Actions
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'beedb:inspectDel' ins.id %}">Delete</a>
              </div>
            </div> 
          {% else %}
            <tr><th>Beekeeper: </th><th>{{ usrInfo.procBeek.username }}</th></tr>
          {% endif %}
          <tr><th>Apiary : </th><th><a href="{% url 'beedb:apDetail' ins.colony.apiary.id %}{{usrInfo.getParams}}" class="text-info">{{ ins.colony.apiary.apiaryID }}</a></th></tr>
          <tr><th>Colony Name : </th><th><a href="{% url 'beedb:colDetail' ins.colony.id %}{{usrInfo.getParams}}" class="text-info">{{ ins.colony.colonyID }}</a></th></tr>
          <tr><td>Date : </td><td class = "wrap_cell">{{ ins.dt }}</td></tr>
          <tr><td>Bee numbers : </td><td>{{ ins.numChoiceDisplay }}</td></tr>
          <tr><td>Eggs : </td><td>{{ ins.get_eggs_display }}</td></tr>
          <tr><td>Varroa : </td><td>{{ ins.get_varroa_display }}</td></tr>
          <tr><td>Weight : </td><td>{{ ins.weightChoiceDisplay }}</td></tr>
          <tr><td>Disease : </td><td>{{ ins.get_disease_display }}</td></tr>
          <tr><td>Temper : </td><td>{{ ins.get_temper_display }}</td></tr>
          <tr><td>Queen seen : </td><td>{{ ins.queen_seen }}</td></tr>
          {% if currUser.username == 'jim' %}
            <tr><td>Colony health : </td><td>{{ ins.healthScore|floatformat:"0" }}%</td></tr>
          {% endif %}
          <tr><td>Notes : </td><td>{{ ins.notes }}</td></tr>
        </table>
      </div>
    </div>
  </div> 

  <a href="{% url 'beedb:colDetail' ins.colony.id %}{{usrInfo.getParams}}" class="btn btn-info" role="button">Colony</a>
</div>
{% endblock %}