{% extends "beedb/webbase.html" %}
{% load static %}

{% block javascript %} 
<script src="{% static "beedb/treatment.js" %}"></script>
{% endblock %}

{% block title %}
Add Inspection
{% endblock %}

{% block web-body %}
<div class="beedb_background">
  <div id="ins-header">
    <h3>Add Inspection</h3>
  </div>
  <div id="ins_detail" class="content_block">
    <div id="ins_det_table">
      <form action="{% url 'beedb:inspectAdd' col.id %}" method="POST">
        {% csrf_token %}
        {{ fItems.management_form }}
        {{ form.non_field_errors}}
        <table>
          <tr>
            <th>Apiary : </th>
            <th>{{ col.apiary.apiaryID }}</th>
          </tr>
          <tr>
            <th>Colony : </th>
            <th>{{ col.colonyID }}</th>
          </tr>
          <tr>
            <td>Date:</td>
            <td>{{ form.dt }} (YYYY-MM-DD) {{ form.dt.errors }}</td>
          </tr>
          <tr>
            <td>Bee numbers:</td>
            <td>{{ form.numbers }}<br>{{ form.numbers.help_text }} {{ form.numbers.errors }}</td>
          </tr>
          <tr>
            <td>Eggs & larvae:</td>
            <td>{{ form.eggs }}<br>{{ form.eggs.help_text }} {{ form.eggs.errors }}</td>
          </tr>
          <tr>
            <td>Varroa:</td>
            <td>{{ form.varroa }}<br>{{ form.varroa.help_text }} {{ form.varroa.errors }}</td>
          </tr>
          <tr>
            <td>Weight:</td>
            <td>{{ form.weight }}<br>{{ form.weight.help_text }} {{ form.weight.errors }}</td>
          </tr>
          <tr>
            <td>Disease:</td>
            <td>{{ form.disease }}<br>{{ form.disease.help_text }} {{ form.disease.errors }}</td>
          </tr>
          <tr>
            <td>Temper:</td>
            <td>{{ form.temper }}<br>{{ form.temper.help_text }} {{ form.temper.errors }}</td>
          </tr>
          <tr>
            <td>Queen seen:</td>
            <td>{{ form.queen_seen }}</td>
            <td id="Jim"> </td>
          </tr>
          <tr>
            <td>Notes:</td>
            <td>{{ form.notes }}</td>
          </tr>

          {% comment %}
          This next section is for reminders
          {% endcomment %}

          <tr>
            <td>Add a reminder?</td>
            <td>{{ optForm.addReminder }}</td>
          </tr>
          <tr>
            <td>{{ diaryForm.non_field_errors}}</td>
          </tr>
          <tr id="dLine1">
            <td>Reminder subject</td>
            <td>{{diaryForm.subject}} {{ diaryForm.subject.errors }}</td>
          </tr>          
          <tr id="dLine2">
            <td>Details</td>
            <td>{{diaryForm.details}} {{ diaryForm.details.errors }}</td>
          </tr>
          <tr id="dLine3">
            <td>Due</td>
            <td>{{diaryForm.dueDt}} {{ diaryForm.dueDt.errors }}</td>
          </tr>
          
          {% comment %}
          This next section is for treatments
          {% endcomment %}

          <tr>
            <td>Add a varroa treatment?</td>
            <td>{{ optForm.addTreatment }}</td>
          </tr>          
          <tr>
            <td>{{ TreatForm.non_field_errors}}</td>
          </tr>
          
          <tr id="tLine1">
            <td>Treatment type</td>
            <td>{{TreatForm.treatmentType}} {{ TreatForm.treatmentType.errors }}</td>
          </tr>
          <tr id="tDescr">
            <td>Description</td>
            <td id="tDescrTxt" class="wrap_cell text-muted"></td>
          </tr>
          <tr id="tInstr">
            <td>Instructions</td>
            <td id="tInstrTxt" class="wrap_cell text-muted"></td>
          </tr>
          <tr id="tLine2">
            <td>Notes</td>
            <td>{{TreatForm.trNotes}} {{ TreatForm.trNotes.errors  }}</td>
          </tr>
          <tr id="tRemoveDt">
            <td>Removal dt</td>
            <td>{{TreatForm.removeDt}} (YYYY-MM-DD) {{ TreatForm.removeDt.errors  }}</td>
          </tr>
        </table>
        <input type="submit" value="Submit">
        <span id="ins_cancel_button" class="cancel_button">
          <a href="{% url 'beedb:colDetail' col.id %}" class="btn btn-link btn-outline-warning" role="button">Cancel</a>
        </span>
      </form>
    </div>

  </div>
</div>

<script>
  console.log("run on load");
  const rBox = document.getElementById("id_addReminder");
  if (rBox.checked) {
    console.log("Diary checked");
      document.getElementById("dLine1").style.display = "";
      document.getElementById("dLine2").style.display = "";
      document.getElementById("dLine3").style.display = "";
    } else {
      console.log("Diary NOT checked");
      document.getElementById("dLine1").style.display = "none";
      document.getElementById("dLine2").style.display = "none";
      document.getElementById("dLine3").style.display = "none";
    }
  const tBox = document.getElementById("id_addTreatment");
  if (tBox.checked) {
    console.log("Treatment checked");
      document.getElementById("tLine1").style.display = "";
      document.getElementById("tLine2").style.display = "";
      document.getElementById("tDescr").style.display = "";
      document.getElementById("tInstr").style.display = "";
      document.getElementById("tRemoveDt").style.display = "";
    } else {
      console.log("Treatment NOT checked");
      document.getElementById("tLine1").style.display = "none";
      document.getElementById("tLine2").style.display = "none";
      document.getElementById("tDescr").style.display = "none";
      document.getElementById("tInstr").style.display = "none";
      document.getElementById("tRemoveDt").style.display = "none";
    }
</script>

{% endblock %}