{% extends "beedb/webbase.html" %}

{% block title %}
Add Feedback
{% endblock %}

{% block web-body %}
<div class="beedb_background">
  <div id="fb-header"><h3>Provide feedback</h3></div>
    <div id="fb_detail" class="content_block">
      <div id="fb_det_table">
        <form action="{% url 'beedb:userfbAdd' %}" method="POST">
          {% csrf_token %}
          {{ fItems.management_form }}
          {{ form.non_field_errors}}
          <table>
            {{ form.as_table }}
          </table>
        <input type="submit" value="Submit">
        <span id="fb_cancel_button" class="cancel_button">
          <a href="{% url 'beedb:fbIndex' %}" class="btn btn-link btn-outline-warning" role="button">Cancel</a>
        </span>
      </form>
    </div>
  </div>
 
</div>
{% endblock %}