{% load static %}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="{% static "beedb/style.css" %}">    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 

    <!-- J query -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Fengyuan Chen's Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

    {% block pagerefresh %}<meta http-equiv="refresh" content="600">{% endblock %}
    {% block leaflet %} {% endblock %}
    {% block javascript %} {% endblock %}
    <script src="https://www.w3schools.com/lib/w3.js"></script> 
    <script src="{% static 'beedb/basic.js' %} "></script>
    <!-- Matomo -->
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//webstat.west.net.nz/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '5']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
    <title>
	    {% block title %}
        Bee hive database
      {% endblock %}
    </title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    

  </head>

  <body class="bd_bee_background">
    {% block background %}
      <div class="container-fluid">
    {% endblock %}
    
      <div id="logged_in">
        {% if user.is_authenticated %}
          Hi <a href="{% url 'beedb:profileDetail' %}">{{ user.username|capfirst }}</a> <a href="{% url 'beedb:logout' %}">Logout</a>
        {% else %}
          <a href="{% url 'beedb:signup' %}">Sign Up</a>
          <a href="{% url 'beedb:login' %}">Login</a>
        {% endif %}
      </div>
      <div id="pg_header">
        <span class="bd_heading_text">Bee hive database</span>
      </div>

      {% block navbar %}
      <nav class="navbar navbar-expand-md bg-dark navbar-dark">
       
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            {% if apiaryactive %}
              <li class="nav-item active">
            {% else %}
              <li class="nav-item">
            {% endif %}
              <a class="nav-link" href="{% url 'beedb:index' %}">Apiaries</a>
            </li>
            {% if reportactive %}
              <li class="nav-item active">
            {% else %}
              <li class="nav-item">
            {% endif %}
              <a class="nav-link" href="{% url 'beedb:reports' %}">Reports</a>
            </li>
            {% if feedbackactive %}
              <li class="nav-item active">
            {% else %}
              <li class="nav-item">
            {% endif %}
            <a class="nav-link" href="{% url 'beedb:fbIndex' %}">Feedback & Comments</a>
            </li>
            {% if user.is_superuser %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'beedb:adminMenu' %}">Admin options</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>
      {% endblock %}

      {% block web-body %}
        Bee database
      {% endblock %}
      <!-- START FOOTER -->
      <div class="bd_footer">
        <table class="bd_footer">
          <tr>
            <td class="bd_content-block">
              <span class="bd_author">&#169 Jim West</span>
            </td>
          </tr>
        </table>
      </div>
      <!-- END FOOTER -->
    </div>
  </body>
</html>
